body {
    padding-top: 20px;
}


@media only screen and (max-width: 870px) {
    .person.deck{
        width: 586px;
    }
}

@media only screen and (max-width: 600px) {

    .person.deck{
        width: 300px;
    }
}
