body{
    position: relative;
    width: 1440px;
    height: 910px;

    background: #717171;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bg{
    position: absolute;
    width: 1440px;
    height: 910px;
    left: calc(50% - 1440px/2);
    top: 0px;
    background-image: url("../images/bg.png");
}

.Group_102 {
    position: absolute;
    width: 786px;
    height: 695px;
    left: 327px;

}
.image_10 {
    position: absolute;
    width: 380px;
    height: 345px;
    left: calc(50% - 380px/2);
    top: 102px;
}

.image_10 img{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.Frame_3 {
    display: flex;
    flex-direction: row;
    padding: 0px;

    position: absolute;
    width: 786px;
    height: 252px;
    top: 545px;
}

.Group_76 {
    position: static;
    width: 188px;
    height: 252px;
    left: 598px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 2;
    align-self: center;
    margin: 111px 0px;
}

.Group_74 {
    position: static;
    width: 188px;
    height: 252px;
    left: 299px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: center;
    margin: 111px 0px;
}

.Group_75 {
    /* Group 75 */
    position: static;
    width: 188px;
    height: 252px;
    left: 0px;
    top: 0px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    align-self: center;
    margin: 111px 0px;
}

.Group_76 .avatar_1-0{
    position: absolute;
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    border-radius: 121px; 
    
    width: 188px;
    height: 188px;
    left: calc(50% - 188px/2 + 299px);
    top: 0px;
    
    border-radius: 121px;
}


.Group_74 .avatar_1-0{
    position: absolute;
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    border-radius: 121px; 

    width: 188px;
    height: 188px;
    left: calc(50% - 188px/2);
    top: 0px;
    
    border-radius: 121px;
}


.Group_75 .avatar_1-0{

    position: absolute;
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    border-radius: 121px; 

    width: 188px;
    height: 188px;
    left: calc(50% - 188px/2 - 299px);
    top: 0px;
}

.avatar_1-0 img{
    border-radius: 121px; 
    width: 180px;
    height: 180px;
    margin-left: 4px;
    margin-top: 4px;
}

div#Skellige {
    position: absolute;
    width: 120px;
    height: 35px;
    left: calc(50% - 120px/2 + 299.5px);
    top: 217px;

    /* Heading 3 */

    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    text-align: center;

    /* Gradient text */

    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#Redania{
    position: absolute;
    width: 120px;
    height: 35px;
    left: calc(50% - 120px/2);
    top: 217px;

    /* Heading 3 */

    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    text-align: center;
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

div#Nilfgaard{
    position: absolute;
    width: 125px;
    height: 35px;
    left: calc(50% - 125px/2 - 299.5px);
    top: 217px;

    /* Heading 3 */

    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    text-align: center;

    /* Gradient text */
    border-color: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);

    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
