body{
    position: relative;
    width: 1440px;
    height: 1301px;
    
    /* Black */
    
    background: #717171;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);}

.bg{
    position: absolute;
    width: 1440px;
    height: 1301px;
    left: calc(50% - 1440px/2);
    top: 0px;
    background-image: url("../img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Group_103{
    position: absolute;
    width: 1191px;
    height: 1074px;
    top: 40px;
    left: 130px;
}

.Group_49{
    position: absolute;
    width: 53px;
    height: 36px;
    

}

.Group_49 hr {
    position: absolute;
    width: 57px;
    height: 0px;
    
    top: 124px;

    opacity: 0.2;
    /* Gold */

    border: 1px solid #DBAE64;
}

.back{
    position: absolute;
    width: 55px;
    height: 33px;
    
    top: 88px;

    /* Button text */

    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 128.6%;
    /* or 33px */

    letter-spacing: 0.035em;

    /* Gradient text */

    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Group_93 {
    position: absolute;
    width: 880px;
    height: 352px;
    left: calc(50% - 880px/2);
    top: 722px;

}

.person_card_1{
    position: absolute;
    width: 280px;
    height: 352px;
    left: calc(50% - 280px/2);

}

.icon_number_1{
    position: absolute;
    width: 68px;
    height: 73px;
    left: calc(50% - 68px/2 - 60px);
    top: 152px;
    text-align: center;
}

.djopa { 
    position: absolute;
    left: 0%;
    right: 0%;
    top: 10.96%;
    bottom: 5.48%;
    
    /* Numbers */
    display: inline-block;
    font-family: Crimson Text;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 55px;
 
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.icon_number_1 img{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 2.74%;
   
}

.person_card_1 .avatar_1-0{
    position: absolute;
    width: 166px;
    height: 166px;
    left: calc(50% - 166px/2 + 1px);
    top: 37px;
    
    border-radius: 121px;
}

.person_card_1 .avatar_1-0 img{
    
    border-radius: 121px;
}

.person_card_2 .avatar_1-0{
    position: absolute;
    width: 166px;
    height: 166px;
    left: calc(50% - 166px/2 + 1px);
    top: 37px;
    
    border-radius: 121px;
}


.person_card_3 .avatar_1-0{
    position: absolute;
    width: 166px;
    height: 166px;
    left: calc(50% - 166px/2 + 1px);
    top: 37px;
    
    border-radius: 121px;
}


.person_card_2 .avatar_1-0 img{
    
    border-radius: 121px;
}

.person_card_3 .avatar_1-0 img{
    
    border-radius: 121px;
}

.Frame_1 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    
    position: absolute;
    width: 223px;
    height: 70px;
    left: calc(50% - 223px/2 + 0.5px);
    top: 251px;
}

.Frame_1 .title{

    position: static;
    height: 25px;
    left: 16.37%;
    right: 16.37%;
    top: 45px;
    
    /* Paragraph */
    
    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 148.6%;
    /* or 25px */
    
    text-align: center;
    letter-spacing: 0.035em;
    
    /* Gold */
    
    color: #DBAE64;
    
}

.Frame_1 .name{
    position: static;
    height: 35px;
    left: 0%;
    right: 0%;
    top: 0px;

    /* Heading 3 */

    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    /* or 35px */

    text-align: center;

    /* Gradient text */

     color: #DBAE64;

}


.person_card_2{
    position: absolute;
    width: 280px;
    height: 352px;
    left: calc(50% - 280px/2 - 300px);

}

.person_card_2 .Frame_1{
    display: flex;
    flex-direction: column;
    padding: 0px;

    position: absolute;
    width: 500px;
    height: 70px;
    left: calc(50% - 500px/2 + 0.5px);
    top: 251px;
}
.person_card_3{
    position: absolute;
    width: 280px;
    height: 352px;
    left: calc(50% - 280px/2 + 300px);

}

.Element{
    position: absolute;
    width: 11px;
    height: 130px;
    left: calc(50% - 11px/2 + 0.5px);
    top: 514px;
}

.Group_37{
    position: absolute;
    width: 223px;
    height: 78px;
    left: 479px;
    top: 350px;

}

.Group_37 p{
    position: absolute;
    width: 250px;
    height: 78px;
    left: calc(50% - 223px/2 + 0.5px);

    /* Heading 1 */

    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 61px;
    line-height: 128.6%;
    /* or 78px */

    text-align: center;

    /* Gradient text */

    color: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    background: linear-gradient(180deg, #FFD28D 47.92%, #352000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image_10{
    position: absolute;
    width: 88px;
    height: 79px;
    right: 100px;
    top: 65px;
}

.image_10 img{
    position: absolute;
    width: 88px;
    height: 79px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.Group_36{
    position: absolute;
    width: 572px;
    height: 359px;
    left: calc(50% - 451px/2 - 80px);

}

.Group_36 .avatar_2{
    position: absolute;
    width: 359px;
    height: 359px;
    left: calc(50% - 359px/2 + 0.5px);
    top: 67px;

    border-radius: 250px;
}

.avatar_2 img{
    position: absolute;
    left: 20px;
    
    top: -7.83%;
    bottom: -10.24%;
    border-radius: 250px;
}

.element_right{
    position: absolute;
    width: 46px;
    height: 46px;
    left: calc(50% - 46px/2 + 359px);
    top: 223px;

    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.element_right .vector{
    position: absolute;
    left: 130%;

    top: 26.09%;
    bottom: 26.09%;
}

.element_right .ell{
    position: absolute;
    left: 90%;
    right: -100%;
    top: 0%;
    bottom: 0%;
}

.element_left{
    position: absolute;
    width: 46px;
    height: 46px;
   
    top: 223px;

}

.element_left .vector{
    position: absolute;
    left: 34.78%;
    right: 38.04%;
    top: 26.09%;
    bottom: 26.09%;
}

.element_left .ell{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
}
